/* Highlight autodoc class/method boxes */
dl.class,
dl.function,
dl.method,
dl.attribute,
dl.data,
dl.property {
    border: 2px solid #0066b6;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 2em;
}

/* Shared base styles */
.sig {
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
    font-family: monospace;
}

/* Field list (for :param:, :returns:, etc.) */
.field-list {
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
}

.field-name {
    font-weight: bold;
}

html[data-theme="light"] sig.sig-object {
    background-color: #eaeaea;
}

html[data-theme="dark"] sig.sig-object {
    background-color: #333;
}
